.c-container {
  width: 92%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  .c-container {
    width: 96%;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .c-container {
    width: 100%;
    padding: 0.25rem;
  }
}