.p-badge {
    background-color: var(--primary-color);
}

.p-inputtext:enabled:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: var(--focus-ring);
	border-color: var(--primary-color);
}

.md\:none {
    @media (width >= 48rem) {
        display: none;
    }
}

.transparent-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #333; /* text color */
}

.transparent-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* slight background color on hover */
  color: #333; /* text color on hover */
}

.transparent-button:focus {
  outline: none;
  box-shadow: none;
}