@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/tailwind-light/theme.css' layer(primereact);

/* Root Variables - Định nghĩa biến toàn cục */
:root {
  --font-gowun: 'Gowun Dodum', sans-serif;
  --background-color: #f2f2f2;
  --text-color: #2a1e19;
  --primary-color: #a17410;
  --maroon: #81100f;
  --light-blue: #659fc9;
  --light-rose: #d59d90;
  --sub-color: #a76616;
  --highlight-text-color: #a17410;
  --focus-ring: 0 0 0 1px #a17410;
  --secondary-color: #f7d18d;
  --standard-view-width: 1366px;
  --standard-view-height: 768px;
  font-family: var(--font-gowun);
}

/* Reset & Base Styles - Thiết lập cơ bản */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme Modes - Chế độ theme */
body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* Utility Classes - Các class tiện ích cơ bản */
.none {
  display: none !important;
}

/* Responsive Utilities - Tiện ích responsive */
.standard\:none {
  @media (width >= 1366px) {
    display: none;
  }
}

.standard\:flex {
  @media (width >= 1366px) {
    display: flex;
  }
}

/* Section 404 Styles - Style cho trang 404 */
#section-404 {
  @apply flex! items-center justify-center;
}

/* Quill Editor Styles - Style cho Quill Editor */
.ql-align-center {
  @apply flex justify-center;
}

.ql-align-right {
  @apply flex justify-end;
}

.ql-align-justify {
  @apply flex justify-evenly items-center max-w-full gap-4;
}