@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/tailwind-light/theme.css' layer(primereact);

:root {
  --font-gowun: 'Gowun Dodum', sans-serif;
  --background-color: #f2f2f2;
  --text-color: #333;
  --primary-color: #a17410;
  --highlight-text-color: #a17410;
  --focus-ring: 0 0 0 1px #a17410;
  --secondary-color: #f7d18d;
  font-family: var(--font-gowun);
}

.none {
  display: none!important;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Light mode */
body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark mode */
body.dark-mode {
  background-color: var(--text-color);
  color: var(--background-color);
}