@import "tailwindcss";

@layer tailwind-base, primereact, tailwind-utilities;

@import 'primereact/resources/themes/tailwind-light/theme.css' layer(primereact);

/* Root Variables */
:root {
  --font-gowun: 'Gowun Dodum', sans-serif;
  --background-color: #f2f2f2;
  --text-color: #2a1e19;
  --primary-color: #a17410;
  --sub-color: #805700;
  --highlight-text-color: #a17410;
  --focus-ring: 0 0 0 1px #a17410;
  --secondary-color: #f7d18d;
  --standard-view-width: 1366px;
  --standard-view-height: 768px;
  font-family: var(--font-gowun);
}

/* Utility Classes */
.none {
  display: none !important;
}

/* Body Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Light Mode */
body.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark Mode */
body.dark-mode {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* Input Styles */
.input-rounded-s-md {
  border-radius: 0;
  @apply rounded-s-md;
}

/* Button Styles */
.btn-rounded-e-md {
  border-radius: 0;
  @apply rounded-e-md;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--sub-color);
}

.btn-primary:active {
  background-color: var(--sub-color);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--sub-color);
}

/* Section 404 Styles */
#section-404 {
  @apply flex! items-center justify-center;
}

/* Section Icon Styles */
.section-icon {
  background-color: var(--primary-color) !important;
}